In [83]:
import numpy as np # handle data in a vectorized manner

import json # library to handle JSON files

import pandas as pd # data analysis

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

In [84]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [85]:
with open('newyork_data.json') as json_data:
    ny_data = json.load(json_data)

In [86]:
neighborhoods_data = ny_data['features']

In [181]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [88]:
!wget -q -O 'New_York_City_Population_By_Neighborhood_Tabulation_Areas.csv' https://data.cityofnewyork.us/api/views/swpk-hqdp/rows.csv?accessType=DOWNLOAD
print('Data downloaded!')

Data downloaded!

In [89]:
pop_ny = pd.read_csv('New_York_City_Population_By_Neighborhood_Tabulation_Areas.csv')

In [90]:
pop_ny.rename(columns={'NTA Name':'Neighborhood'},inplace=True)

In [91]:
pop_ny1 = pop_ny.loc[(pop_ny['Year']) == 2010]

In [182]:
pop_ny2 = pop_ny1.loc[:,['Borough', 'Neighborhood', 'Population']]
pop_ny2.head()

    Borough                     Neighborhood  Population
195   Bronx               Claremont-Bathgate       31078
196   Bronx  Eastchester-Edenwald-Baychester       34517
197   Bronx       Bedford Park-Fordham North       54415
198   Bronx                          Belmont       27378
199   Bronx                        Bronxdale       35538

In [93]:
df_merge = pd.merge(pop_ny2, neighborhoods, on='Neighborhood')
df_merge.drop_duplicates(inplace=True)
df_merge.rename(columns={'Borough_x':'Borough'},inplace=True)
df_merge.drop(['Borough_y'],axis=1,inplace=True)
df_merge.head()

  Borough         Neighborhood  Population   Latitude  Longitude
0   Bronx              Belmont       27378  40.857277 -73.888452
1   Bronx            Bronxdale       35538  40.852723 -73.861726
2   Bronx         East Tremont       43423  40.842696 -73.887356
3   Bronx          Hunts Point       27204  40.809730 -73.883315
4   Bronx  Kingsbridge Heights       32496  40.870392 -73.901523

In [94]:
address = 'New York, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York are 40.7127281, -74.0060152.

In [95]:
CLIENT_ID = 'VBQJLEG4YQ1S1MTUQKEKRGRMUBUT3MZPGMJQZI1TCIKBBYCK' # your Foursquare ID
CLIENT_SECRET = 'J22NGQIVVBQ2AJ4IN14HOHQLJ5QX040YXIDZ03LOWT3KCYSB' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: VBQJLEG4YQ1S1MTUQKEKRGRMUBUT3MZPGMJQZI1TCIKBBYCK
CLIENT_SECRET:J22NGQIVVBQ2AJ4IN14HOHQLJ5QX040YXIDZ03LOWT3KCYSB

In [100]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT = 100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [101]:
ny_venues = getNearbyVenues(names=df_merge['Neighborhood'],
                                   latitudes=df_merge['Latitude'],
                                   longitudes=df_merge['Longitude'],
                                  )

Belmont

KeyError: 'groups'

In [52]:
ny_venues

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Belmont,40.857277,-73.888452,Tino's Delicatessen,40.855882,-73.887166,Italian Restaurant
1,Belmont,40.857277,-73.888452,Casa Della Mozzarella,40.855440,-73.887373,Deli / Bodega
2,Belmont,40.857277,-73.888452,Full Moon Pizzeria,40.855506,-73.887557,Pizza Place
3,Belmont,40.857277,-73.888452,Zero Otto Nove,40.854714,-73.888388,Pizza Place
4,Belmont,40.857277,-73.888452,Michaelangelo's Coal Fired Brick Oven Pizza Re...,40.857412,-73.886468,Italian Restaurant
5,Belmont,40.857277,-73.888452,DeLillo Pastry Shop,40.855364,-73.887198,Dessert Shop
6,Belmont,40.857277,-73.888452,Gino's Pastry Shop,40.855648,-73.888196,Dessert Shop
7,Belmont,40.857277,-73.888452,Cosenza's Fish Market,40.854660,-73.888335,Fish Market
8,Belmont,40.857277,-73.888452,Teitel Brothers Imported Italian Specialty Pro...,40.854744,-73.888220,Food & Drink Shop
9,Belmont,40.857277,-73.888452,Madonia Bakery,40.854412,-73.888516,Bakery
10,Belmont,40.857277,-73.888452,Borgatti's Ravioli & Egg Noodles,40.855015,-73.886521,Food & Drink Shop
11,Belmont,40.857277,-73.888452,Egidio Pastry Shop,40.855142,-73.886972,Bakery
12,Belmont,40.857277,-73.888452,Arthur Avenue Retail Market,40.854157,-73.888179,Market
13,Belmont,40.857277,-73.888452,Calabria Pork Store,40.854145,-73.888776,Italian Restaurant
14,Belmont,40.857277,-73.888452,Mike's Deli,40.854131,-73.888136,Deli / Bodega
15,Belmont,40.857277,-73.888452,Modern Market,40.855245,-73.887859,Grocery Store
16,Belmont,40.857277,-73.888452,Arthur Avenue Fiasco,40.854844,-73.887908,Italian Restaurant
17,Belmont,40.857277,-73.888452,Best Deli & Grocery,40.859550,-73.887173,Deli / Bodega
18,Belmont,40.857277,-73.888452,Simon's Deli & Bagels,40.857424,-73.885973,Deli / Bodega
19,Belmont,40.857277,-73.888452,Pugsley Pizza,40.858818,-73.884808,Pizza Place
20,Belmont,40.857277,-73.888452,Enzo's,40.854355,-73.888644,Italian Restaurant
21,Belmont,40.857277,-73.888452,Dominick's Restaurant,40.854215,-73.888765,Italian Restaurant
22,Belmont,40.857277,-73.888452,Bellini's Pizza,40.857071,-73.885350,Pizza Place
23,Belmont,40.857277,-73.888452,Antonio's Trattoria,40.854083,-73.886616,Italian Restaurant
24,Belmont,40.857277,-73.888452,The Bronx Beer Hall,40.854198,-73.888233,Bar
25,Belmont,40.857277,-73.888452,La Cantina Wine & Liquor,40.854695,-73.888364,Liquor Store
26,Belmont,40.857277,-73.888452,Morrone Pastry Shop & Cafe,40.854636,-73.888400,Dessert Shop
27,Belmont,40.857277,-73.888452,Joes Italian Deli,40.854391,-73.885367,Deli / Bodega
28,Belmont,40.857277,-73.888452,Artuso Pastry Shop,40.854325,-73.885112,Bakery
29,Belmont,40.857277,-73.888452,Gerbasi Ristorante,40.855334,-73.887808,Italian Restaurant
...,...,...,...,...,...,...,...
3382,Port Richmond,40.633669,-74.129434,Dunkin',40.637225,-74.127623,Donut Shop
3383,Port Richmond,40.633669,-74.129434,Around The Clock Deli,40.633838,-74.129992,Deli / Bodega
3384,Port Richmond,40.633669,-74.129434,Stephanie's Deli,40.631229,-74.130857,Deli / Bodega
3385,Port Richmond,40.633669,-74.129434,Taqueria Puebla,40.634054,-74.125393,Mexican Restaurant
3386,Port Richmond,40.633669,-74.129434,Hood 2 4,40.635259,-74.133972,Deli / Bodega
3387,Arden Heights,40.549286,-74.185887,Villa Monte Pizzeria & Restaurant,40.552555,-74.186212,Pizza Place
3388,Arden Heights,40.549286,-74.185887,APlus at Sunoco,40.551233,-74.184030,Coffee Shop
3389,Arden Heights,40.549286,-74.185887,CVS pharmacy,40.551241,-74.184031,Pharmacy
3390,Arden Heights,40.549286,-74.185887,MTA Bus - Arden Av & Woodrow Rd (S56/X17/X17J/...,40.550082,-74.187375,Bus Stop
3391,Arden Heights,40.549286,-74.185887,Rocco Deli,40.551221,-74.184073,Deli / Bodega
3392,Arden Heights,40.549286,-74.185887,Solar Panels Energy Systems,40.548733,-74.182116,Business Service
3393,Great Kills,40.549480,-74.149324,Piccolino's italian Restaurant,40.551538,-74.149746,Italian Restaurant
3394,Great Kills,40.549480,-74.149324,Village Maria,40.550293,-74.150816,Pizza Place
3395,Great Kills,40.549480,-74.149324,Arirang Hibachi Steakhouse,40.549539,-74.150123,Japanese Restaurant
3396,Great Kills,40.549480,-74.149324,Nonna's,40.551089,-74.151117,Pizza Place
3397,Great Kills,40.549480,-74.149324,Flanagan's Tavern,40.551159,-74.149498,Bar
3398,Great Kills,40.549480,-74.149324,CVS pharmacy,40.549640,-74.152180,Pharmacy
3399,Great Kills,40.549480,-74.149324,The Grand Plaza,40.549450,-74.150157,Food & Drink Shop
3400,Great Kills,40.549480,-74.149324,MTA SIR - Great Kills,40.551315,-74.151052,Train Station
3401,Great Kills,40.549480,-74.149324,SUBWAY,40.549809,-74.150633,Sandwich Place
3402,Great Kills,40.549480,-74.149324,La Candela Espanola,40.551469,-74.149436,Spanish Restaurant
3403,Great Kills,40.549480,-74.149324,Lucky Fortune Chinese Restaurant,40.551275,-74.150083,Chinese Restaurant
3404,Great Kills,40.549480,-74.149324,Bungalow 18,40.549396,-74.150880,Bar
3405,Great Kills,40.549480,-74.149324,Top Tomato,40.549545,-74.151570,Grocery Store
3406,Great Kills,40.549480,-74.149324,Benvenuti Pizzeria e Trattoria,40.551205,-74.150175,Italian Restaurant
3407,Great Kills,40.549480,-74.149324,La Iguana Azul,40.551042,-74.150468,Mexican Restaurant
3408,Great Kills,40.549480,-74.149324,La Vita,40.550410,-74.150847,Nightclub
3409,Great Kills,40.549480,-74.149324,Famous Falafel,40.551116,-74.150441,Falafel Restaurant
3410,Great Kills,40.549480,-74.149324,Goodfellows Barbershop,40.551410,-74.150426,Cosmetics Shop
3411,Great Kills,40.549480,-74.149324,The Grand Delfino Deli,40.551897,-74.150716,Deli / Bodega

In [122]:
ny_venues
ny_venues1 = ny_venues.loc[(ny_venues['Venue Category'] == 'Japanese Restaurant')
                           |(ny_venues['Venue Category'] == 'Chinese Restaurant')
                          |(ny_venues['Venue Category'] == 'Korean Restaurant')
                           |(ny_venues['Venue Category'] == 'Cambodian Restaurant')
                           |(ny_venues['Venue Category'] == 'Filipino Restaurant')
                           |(ny_venues['Venue Category'] == 'Himalayan Restaurant')
                            |(ny_venues['Venue Category'] == 'Indonesian Restaurant')
                            |(ny_venues['Venue Category'] == 'Malay Restaurant')
                            |(ny_venues['Venue Category'] == 'Tibetan Restaurant')
                            |(ny_venues['Venue Category'] == 'Vietnamese Restaurant')
                            |(ny_venues['Venue Category'] == 'Thai Restaurant')
                            |(ny_venues['Venue Category'] == 'Satay Restaurant')
                            |(ny_venues['Venue Category'] == 'Mongolian Restaurant')    
                           
                          ]

In [140]:
ny_venues1.rename(columns={'Venue Category':'Number of Asians Restaurants'},inplace=True)
ny_venues1.drop(['Neighborhood Latitude','Neighborhood Longitude','Venue','Venue Latitude', 'Venue Longitude'],axis=1,inplace=True)

                     Number of Asians Restaurants
Neighborhood
Astoria                                         5
Auburndale                                      1
Bath Beach                                      3
Bay Ridge                                       6
Bellerose                                       2
Belmont                                         2
Brighton Beach                                  1
Bronxdale                                       1
Brownsville                                     2
Cambria Heights                                 1
Canarsie                                        1
Chinatown                                      18
Clinton                                         3
Clinton Hill                                   11
College Point                                   1
East New York                                   1
East Village                                   13
East Williamsburg                               1
Elmhurst                                       14
Flatbush                                        1
Flushing                                        7
Forest Hills                                    3
Fort Greene                                     3
Gramercy                                        5
Gravesend                                       4
Great Kills                                     2
Greenpoint                                      2
Hamilton Heights                                3
Hollis                                          1
Homecrest                                       5
...                                           ...
Kew Gardens                                     3
Kew Gardens Hills                               1
Kingsbridge Heights                             2
Longwood                                        1
Lower East Side                                 6
Manhattanville                                  2
Maspeth                                         3
Middle Village                                  2
Murray Hill                                    32
North Corona                                    1
Norwood                                         1
Oakland Gardens                                 7
Ocean Hill                                      1
Parkchester                                     1
Pelham Parkway                                  2
Prospect Heights                                6
Queensboro Hill                                 3
Rego Park                                       4
Ridgewood                                       3
Rosedale                                        1
St. Albans                                      1
Steinway                                        2
Upper West Side                                 5
West Brighton                                   2
West Village                                    5
Williamsburg                                    2
Windsor Terrace                                 1
Woodhaven                                       2
Woodside                                       13
Yorkville                                       7

[61 rows x 1 columns]

In [144]:
ny_venues2 = ny_venues1.groupby('Neighborhood').count()

In [167]:
df_merge2 = pd.merge(df_merge, ny_venues2, on='Neighborhood')
df_merge2

,Borough,Neighborhood,Population,Latitude,Longitude,Number of Asians Restaurants
0,Bronx,Belmont,27378,40.857277,-73.888452,2
1,Bronx,Bronxdale,35538,40.852723,-73.861726,1
2,Bronx,Kingsbridge Heights,32496,40.870392,-73.901523,2
3,Bronx,Longwood,26196,40.815099,-73.895788,1
4,Bronx,Norwood,40494,40.877224,-73.879391,1
5,Bronx,Parkchester,29821,40.837938,-73.856003,1
6,Bronx,Pelham Parkway,30073,40.857413,-73.854756,2
7,Brooklyn,Brighton Beach,35547,40.576825,-73.965094,1
8,Brooklyn,West Brighton,17750,40.631879,-74.107182,2
9,Brooklyn,Homecrest,44316,40.598525,-73.959185,5
10,Brooklyn,Gravesend,29436,40.595260,-73.973471,4
11,Brooklyn,Bath Beach,29931,40.599519,-73.998752,3
12,Brooklyn,Bay Ridge,79371,40.625801,-74.030621,6
13,Brooklyn,Windsor Terrace,20988,40.656946,-73.980073,1
14,Brooklyn,Flatbush,105804,40.636326,-73.958401,1
15,Brooklyn,Canarsie,83693,40.635564,-73.902093,1
16,Brooklyn,Prospect Heights,19849,40.676822,-73.964859,6
17,Brooklyn,Fort Greene,26079,40.688527,-73.972906,3
18,Brooklyn,Clinton Hill,34791,40.693229,-73.967843,11
19,Brooklyn,Williamsburg,32926,40.707144,-73.958115,2
20,Brooklyn,Greenpoint,34719,40.730201,-73.954241,2
21,Brooklyn,Ocean Hill,31935,40.678403,-73.913068,1
22,Brooklyn,Brownsville,58300,40.663950,-73.910235,2
23,Brooklyn,East New York,91958,40.669926,-73.880699,1
24,Brooklyn,East Williamsburg,34158,40.708492,-73.938858,1
25,Manhattan,Hamilton Heights,48520,40.823604,-73.949688,3
26,Manhattan,Manhattanville,22950,40.816934,-73.957385,2
27,Manhattan,Upper West Side,132378,40.787658,-73.977059,5
28,Manhattan,Clinton,45884,40.759101,-73.996119,3
29,Manhattan,Gramercy,27988,40.737210,-73.981376,5
...,...,...,...,...,...,...
32,Manhattan,Chinatown,47844,40.715618,-73.994279,18
33,Manhattan,Lower East Side,72957,40.717807,-73.980890,6
34,Manhattan,Yorkville,77942,40.775930,-73.947118,7
35,Queens,Rosedale,25063,40.659816,-73.735261,1
36,Queens,Hollis,20269,40.711243,-73.759250,1
37,Queens,St. Albans,48593,40.694445,-73.758676,1
38,Queens,Forest Hills,83728,40.725264,-73.844475,3
39,Queens,Rego Park,28260,40.728974,-73.857827,4
40,Queens,Ridgewood,69317,40.708323,-73.901435,3
41,Queens,Middle Village,37929,40.716415,-73.881143,2
42,Queens,Flushing,72008,40.764454,-73.831773,7
43,Queens,College Point,24275,40.784903,-73.843045,1
44,Queens,North Corona,52037,40.754071,-73.857518,1
45,Queens,Jackson Heights,108152,40.751981,-73.882821,3
46,Queens,Elmhurst,88427,40.744049,-73.881656,14
47,Queens,Maspeth,30516,40.725427,-73.896217,3
48,Queens,Cambria Heights,18677,40.692775,-73.735269,1
49,Queens,Kew Gardens Hills,37479,40.722578,-73.820878,1
50,Queens,Oakland Gardens,28237,40.745619,-73.754950,7
51,Queens,Bellerose,25287,40.728573,-73.720128,2
52,Queens,Auburndale,19996,40.761730,-73.791762,1
53,Queens,Murray Hill,51739,40.748303,-73.978332,32
54,Queens,Murray Hill,51739,40.764126,-73.812763,32
55,Queens,Woodhaven,56674,40.689887,-73.858110,2
56,Queens,Kew Gardens,23278,40.705179,-73.829819,3
57,Queens,Queensboro Hill,20800,40.744572,-73.825809,3
58,Queens,Woodside,45099,40.746349,-73.901842,13
59,Queens,Astoria,78793,40.768509,-73.915654,5
60,Queens,Steinway,47534,40.775923,-73.902290,2
61,Staten Island,Great Kills,40720,40.549480,-74.149324,2

In [168]:
#Foursquare has a limit on number of venues, we need to scale up these numbers
df_merge2['Number of Asians Restaurants'] = round(df_merge2['Number of Asians Restaurants']*11.1)
df_merge2

,Borough,Neighborhood,Population,Latitude,Longitude,Number of Asians Restaurants
0,Bronx,Belmont,27378,40.857277,-73.888452,22.0
1,Bronx,Bronxdale,35538,40.852723,-73.861726,11.0
2,Bronx,Kingsbridge Heights,32496,40.870392,-73.901523,22.0
3,Bronx,Longwood,26196,40.815099,-73.895788,11.0
4,Bronx,Norwood,40494,40.877224,-73.879391,11.0
5,Bronx,Parkchester,29821,40.837938,-73.856003,11.0
6,Bronx,Pelham Parkway,30073,40.857413,-73.854756,22.0
7,Brooklyn,Brighton Beach,35547,40.576825,-73.965094,11.0
8,Brooklyn,West Brighton,17750,40.631879,-74.107182,22.0
9,Brooklyn,Homecrest,44316,40.598525,-73.959185,56.0
10,Brooklyn,Gravesend,29436,40.595260,-73.973471,44.0
11,Brooklyn,Bath Beach,29931,40.599519,-73.998752,33.0
12,Brooklyn,Bay Ridge,79371,40.625801,-74.030621,67.0
13,Brooklyn,Windsor Terrace,20988,40.656946,-73.980073,11.0
14,Brooklyn,Flatbush,105804,40.636326,-73.958401,11.0
15,Brooklyn,Canarsie,83693,40.635564,-73.902093,11.0
16,Brooklyn,Prospect Heights,19849,40.676822,-73.964859,67.0
17,Brooklyn,Fort Greene,26079,40.688527,-73.972906,33.0
18,Brooklyn,Clinton Hill,34791,40.693229,-73.967843,122.0
19,Brooklyn,Williamsburg,32926,40.707144,-73.958115,22.0
20,Brooklyn,Greenpoint,34719,40.730201,-73.954241,22.0
21,Brooklyn,Ocean Hill,31935,40.678403,-73.913068,11.0
22,Brooklyn,Brownsville,58300,40.663950,-73.910235,22.0
23,Brooklyn,East New York,91958,40.669926,-73.880699,11.0
24,Brooklyn,East Williamsburg,34158,40.708492,-73.938858,11.0
25,Manhattan,Hamilton Heights,48520,40.823604,-73.949688,33.0
26,Manhattan,Manhattanville,22950,40.816934,-73.957385,22.0
27,Manhattan,Upper West Side,132378,40.787658,-73.977059,56.0
28,Manhattan,Clinton,45884,40.759101,-73.996119,33.0
29,Manhattan,Gramercy,27988,40.737210,-73.981376,56.0
...,...,...,...,...,...,...
32,Manhattan,Chinatown,47844,40.715618,-73.994279,200.0
33,Manhattan,Lower East Side,72957,40.717807,-73.980890,67.0
34,Manhattan,Yorkville,77942,40.775930,-73.947118,78.0
35,Queens,Rosedale,25063,40.659816,-73.735261,11.0
36,Queens,Hollis,20269,40.711243,-73.759250,11.0
37,Queens,St. Albans,48593,40.694445,-73.758676,11.0
38,Queens,Forest Hills,83728,40.725264,-73.844475,33.0
39,Queens,Rego Park,28260,40.728974,-73.857827,44.0
40,Queens,Ridgewood,69317,40.708323,-73.901435,33.0
41,Queens,Middle Village,37929,40.716415,-73.881143,22.0
42,Queens,Flushing,72008,40.764454,-73.831773,78.0
43,Queens,College Point,24275,40.784903,-73.843045,11.0
44,Queens,North Corona,52037,40.754071,-73.857518,11.0
45,Queens,Jackson Heights,108152,40.751981,-73.882821,33.0
46,Queens,Elmhurst,88427,40.744049,-73.881656,155.0
47,Queens,Maspeth,30516,40.725427,-73.896217,33.0
48,Queens,Cambria Heights,18677,40.692775,-73.735269,11.0
49,Queens,Kew Gardens Hills,37479,40.722578,-73.820878,11.0
50,Queens,Oakland Gardens,28237,40.745619,-73.754950,78.0
51,Queens,Bellerose,25287,40.728573,-73.720128,22.0
52,Queens,Auburndale,19996,40.761730,-73.791762,11.0
53,Queens,Murray Hill,51739,40.748303,-73.978332,355.0
54,Queens,Murray Hill,51739,40.764126,-73.812763,355.0
55,Queens,Woodhaven,56674,40.689887,-73.858110,22.0
56,Queens,Kew Gardens,23278,40.705179,-73.829819,33.0
57,Queens,Queensboro Hill,20800,40.744572,-73.825809,33.0
58,Queens,Woodside,45099,40.746349,-73.901842,144.0
59,Queens,Astoria,78793,40.768509,-73.915654,56.0
60,Queens,Steinway,47534,40.775923,-73.902290,22.0
61,Staten Island,Great Kills,40720,40.549480,-74.149324,22.0

In [172]:
df_merge2['Restaurants/Population'] = df_merge2['Number of Asians Restaurants']/df_merge2['Population']

In [173]:
df_merge2

,Borough,Neighborhood,Population,Latitude,Longitude,Number of Asians Restaurants,Population/Restaurants,Restaurants/Population
0,Bronx,Belmont,27378,40.857277,-73.888452,22.0,1244.454545,0.000804
1,Bronx,Bronxdale,35538,40.852723,-73.861726,11.0,3230.727273,0.000310
2,Bronx,Kingsbridge Heights,32496,40.870392,-73.901523,22.0,1477.090909,0.000677
3,Bronx,Longwood,26196,40.815099,-73.895788,11.0,2381.454545,0.000420
4,Bronx,Norwood,40494,40.877224,-73.879391,11.0,3681.272727,0.000272
5,Bronx,Parkchester,29821,40.837938,-73.856003,11.0,2711.000000,0.000369
6,Bronx,Pelham Parkway,30073,40.857413,-73.854756,22.0,1366.954545,0.000732
7,Brooklyn,Brighton Beach,35547,40.576825,-73.965094,11.0,3231.545455,0.000309
8,Brooklyn,West Brighton,17750,40.631879,-74.107182,22.0,806.818182,0.001239
9,Brooklyn,Homecrest,44316,40.598525,-73.959185,56.0,791.357143,0.001264
10,Brooklyn,Gravesend,29436,40.595260,-73.973471,44.0,669.000000,0.001495
11,Brooklyn,Bath Beach,29931,40.599519,-73.998752,33.0,907.000000,0.001103
12,Brooklyn,Bay Ridge,79371,40.625801,-74.030621,67.0,1184.641791,0.000844
13,Brooklyn,Windsor Terrace,20988,40.656946,-73.980073,11.0,1908.000000,0.000524
14,Brooklyn,Flatbush,105804,40.636326,-73.958401,11.0,9618.545455,0.000104
15,Brooklyn,Canarsie,83693,40.635564,-73.902093,11.0,7608.454545,0.000131
16,Brooklyn,Prospect Heights,19849,40.676822,-73.964859,67.0,296.253731,0.003375
17,Brooklyn,Fort Greene,26079,40.688527,-73.972906,33.0,790.272727,0.001265
18,Brooklyn,Clinton Hill,34791,40.693229,-73.967843,122.0,285.172131,0.003507
19,Brooklyn,Williamsburg,32926,40.707144,-73.958115,22.0,1496.636364,0.000668
20,Brooklyn,Greenpoint,34719,40.730201,-73.954241,22.0,1578.136364,0.000634
21,Brooklyn,Ocean Hill,31935,40.678403,-73.913068,11.0,2903.181818,0.000344
22,Brooklyn,Brownsville,58300,40.663950,-73.910235,22.0,2650.000000,0.000377
23,Brooklyn,East New York,91958,40.669926,-73.880699,11.0,8359.818182,0.000120
24,Brooklyn,East Williamsburg,34158,40.708492,-73.938858,11.0,3105.272727,0.000322
25,Manhattan,Hamilton Heights,48520,40.823604,-73.949688,33.0,1470.303030,0.000680
26,Manhattan,Manhattanville,22950,40.816934,-73.957385,22.0,1043.181818,0.000959
27,Manhattan,Upper West Side,132378,40.787658,-73.977059,56.0,2363.892857,0.000423
28,Manhattan,Clinton,45884,40.759101,-73.996119,33.0,1390.424242,0.000719
29,Manhattan,Gramercy,27988,40.737210,-73.981376,56.0,499.785714,0.002001
...,...,...,...,...,...,...,...,...
32,Manhattan,Chinatown,47844,40.715618,-73.994279,200.0,239.220000,0.004180
33,Manhattan,Lower East Side,72957,40.717807,-73.980890,67.0,1088.910448,0.000918
34,Manhattan,Yorkville,77942,40.775930,-73.947118,78.0,999.256410,0.001001
35,Queens,Rosedale,25063,40.659816,-73.735261,11.0,2278.454545,0.000439
36,Queens,Hollis,20269,40.711243,-73.759250,11.0,1842.636364,0.000543
37,Queens,St. Albans,48593,40.694445,-73.758676,11.0,4417.545455,0.000226
38,Queens,Forest Hills,83728,40.725264,-73.844475,33.0,2537.212121,0.000394
39,Queens,Rego Park,28260,40.728974,-73.857827,44.0,642.272727,0.001557
40,Queens,Ridgewood,69317,40.708323,-73.901435,33.0,2100.515152,0.000476
41,Queens,Middle Village,37929,40.716415,-73.881143,22.0,1724.045455,0.000580
42,Queens,Flushing,72008,40.764454,-73.831773,78.0,923.179487,0.001083
43,Queens,College Point,24275,40.784903,-73.843045,11.0,2206.818182,0.000453
44,Queens,North Corona,52037,40.754071,-73.857518,11.0,4730.636364,0.000211
45,Queens,Jackson Heights,108152,40.751981,-73.882821,33.0,3277.333333,0.000305
46,Queens,Elmhurst,88427,40.744049,-73.881656,155.0,570.496774,0.001753
47,Queens,Maspeth,30516,40.725427,-73.896217,33.0,924.727273,0.001081
48,Queens,Cambria Heights,18677,40.692775,-73.735269,11.0,1697.909091,0.000589
49,Queens,Kew Gardens Hills,37479,40.722578,-73.820878,11.0,3407.181818,0.000293
50,Queens,Oakland Gardens,28237,40.745619,-73.754950,78.0,362.012821,0.002762
51,Queens,Bellerose,25287,40.728573,-73.720128,22.0,1149.409091,0.000870
52,Queens,Auburndale,19996,40.761730,-73.791762,11.0,1817.818182,0.000550
53,Queens,Murray Hill,51739,40.748303,-73.978332,355.0,145.743662,0.006861
54,Queens,Murray Hill,51739,40.764126,-73.812763,355.0,145.743662,0.006861
55,Queens,Woodhaven,56674,40.689887,-73.858110,22.0,2576.090909,0.000388
56,Queens,Kew Gardens,23278,40.705179,-73.829819,33.0,705.393939,0.001418
57,Queens,Queensboro Hill,20800,40.744572,-73.825809,33.0,630.303030,0.001587
58,Queens,Woodside,45099,40.746349,-73.901842,144.0,313.187500,0.003193
59,Queens,Astoria,78793,40.768509,-73.915654,56.0,1407.017857,0.000711
60,Queens,Steinway,47534,40.775923,-73.902290,22.0,2160.636364,0.000463
61,Staten Island,Great Kills,40720,40.549480,-74.149324,22.0,1850.909091,0.000540

In [175]:
df_merge2 = df_merge2.loc[(df_merge2['Borough'] == 'Manhattan')|(df_merge2['Borough'] == 'Brooklyn')]

In [176]:
df_merge2

,Borough,Neighborhood,Population,Latitude,Longitude,Number of Asians Restaurants,Population/Restaurants,Restaurants/Population
7,Brooklyn,Brighton Beach,35547,40.576825,-73.965094,11.0,3231.545455,0.000309
8,Brooklyn,West Brighton,17750,40.631879,-74.107182,22.0,806.818182,0.001239
9,Brooklyn,Homecrest,44316,40.598525,-73.959185,56.0,791.357143,0.001264
10,Brooklyn,Gravesend,29436,40.595260,-73.973471,44.0,669.000000,0.001495
11,Brooklyn,Bath Beach,29931,40.599519,-73.998752,33.0,907.000000,0.001103
12,Brooklyn,Bay Ridge,79371,40.625801,-74.030621,67.0,1184.641791,0.000844
13,Brooklyn,Windsor Terrace,20988,40.656946,-73.980073,11.0,1908.000000,0.000524
14,Brooklyn,Flatbush,105804,40.636326,-73.958401,11.0,9618.545455,0.000104
15,Brooklyn,Canarsie,83693,40.635564,-73.902093,11.0,7608.454545,0.000131
16,Brooklyn,Prospect Heights,19849,40.676822,-73.964859,67.0,296.253731,0.003375
17,Brooklyn,Fort Greene,26079,40.688527,-73.972906,33.0,790.272727,0.001265
18,Brooklyn,Clinton Hill,34791,40.693229,-73.967843,122.0,285.172131,0.003507
19,Brooklyn,Williamsburg,32926,40.707144,-73.958115,22.0,1496.636364,0.000668
20,Brooklyn,Greenpoint,34719,40.730201,-73.954241,22.0,1578.136364,0.000634
21,Brooklyn,Ocean Hill,31935,40.678403,-73.913068,11.0,2903.181818,0.000344
22,Brooklyn,Brownsville,58300,40.663950,-73.910235,22.0,2650.000000,0.000377
23,Brooklyn,East New York,91958,40.669926,-73.880699,11.0,8359.818182,0.000120
24,Brooklyn,East Williamsburg,34158,40.708492,-73.938858,11.0,3105.272727,0.000322
25,Manhattan,Hamilton Heights,48520,40.823604,-73.949688,33.0,1470.303030,0.000680
26,Manhattan,Manhattanville,22950,40.816934,-73.957385,22.0,1043.181818,0.000959
27,Manhattan,Upper West Side,132378,40.787658,-73.977059,56.0,2363.892857,0.000423
28,Manhattan,Clinton,45884,40.759101,-73.996119,33.0,1390.424242,0.000719
29,Manhattan,Gramercy,27988,40.737210,-73.981376,56.0,499.785714,0.002001
30,Manhattan,East Village,44136,40.727847,-73.982226,144.0,306.500000,0.003263
31,Manhattan,West Village,66880,40.734434,-74.006180,56.0,1194.285714,0.000837
32,Manhattan,Chinatown,47844,40.715618,-73.994279,200.0,239.220000,0.004180
33,Manhattan,Lower East Side,72957,40.717807,-73.980890,67.0,1088.910448,0.000918
34,Manhattan,Yorkville,77942,40.775930,-73.947118,78.0,999.256410,0.001001

In [178]:
df_merge2.sort_values(by='Restaurants/Population')

,Borough,Neighborhood,Population,Latitude,Longitude,Number of Asians Restaurants,Population/Restaurants,Restaurants/Population
14,Brooklyn,Flatbush,105804,40.636326,-73.958401,11.0,9618.545455,0.000104
23,Brooklyn,East New York,91958,40.669926,-73.880699,11.0,8359.818182,0.000120
15,Brooklyn,Canarsie,83693,40.635564,-73.902093,11.0,7608.454545,0.000131
7,Brooklyn,Brighton Beach,35547,40.576825,-73.965094,11.0,3231.545455,0.000309
24,Brooklyn,East Williamsburg,34158,40.708492,-73.938858,11.0,3105.272727,0.000322
21,Brooklyn,Ocean Hill,31935,40.678403,-73.913068,11.0,2903.181818,0.000344
22,Brooklyn,Brownsville,58300,40.663950,-73.910235,22.0,2650.000000,0.000377
27,Manhattan,Upper West Side,132378,40.787658,-73.977059,56.0,2363.892857,0.000423
13,Brooklyn,Windsor Terrace,20988,40.656946,-73.980073,11.0,1908.000000,0.000524
20,Brooklyn,Greenpoint,34719,40.730201,-73.954241,22.0,1578.136364,0.000634
19,Brooklyn,Williamsburg,32926,40.707144,-73.958115,22.0,1496.636364,0.000668
25,Manhattan,Hamilton Heights,48520,40.823604,-73.949688,33.0,1470.303030,0.000680
28,Manhattan,Clinton,45884,40.759101,-73.996119,33.0,1390.424242,0.000719
31,Manhattan,West Village,66880,40.734434,-74.006180,56.0,1194.285714,0.000837
12,Brooklyn,Bay Ridge,79371,40.625801,-74.030621,67.0,1184.641791,0.000844
33,Manhattan,Lower East Side,72957,40.717807,-73.980890,67.0,1088.910448,0.000918
26,Manhattan,Manhattanville,22950,40.816934,-73.957385,22.0,1043.181818,0.000959
34,Manhattan,Yorkville,77942,40.775930,-73.947118,78.0,999.256410,0.001001
11,Brooklyn,Bath Beach,29931,40.599519,-73.998752,33.0,907.000000,0.001103
8,Brooklyn,West Brighton,17750,40.631879,-74.107182,22.0,806.818182,0.001239
9,Brooklyn,Homecrest,44316,40.598525,-73.959185,56.0,791.357143,0.001264
17,Brooklyn,Fort Greene,26079,40.688527,-73.972906,33.0,790.272727,0.001265
10,Brooklyn,Gravesend,29436,40.595260,-73.973471,44.0,669.000000,0.001495
29,Manhattan,Gramercy,27988,40.737210,-73.981376,56.0,499.785714,0.002001
30,Manhattan,East Village,44136,40.727847,-73.982226,144.0,306.500000,0.003263
16,Brooklyn,Prospect Heights,19849,40.676822,-73.964859,67.0,296.253731,0.003375
18,Brooklyn,Clinton Hill,34791,40.693229,-73.967843,122.0,285.172131,0.003507
32,Manhattan,Chinatown,47844,40.715618,-73.994279,200.0,239.220000,0.004180

In [180]:
print ('The best neighborhood to open an asian restaurant is Flatbush, but there are other options such as Canarsie and Upper West Side.')

The best neighborhood to open an asian restaurant is Flatbush, but there are other options such as Canarsie and Upper West Side.